@media (max-width: 1200px) {
	.options {
		grid-template-columns: repeat(5, 1fr);
		row-gap: 18px;
	}
}

@media (max-width: 992px) {
	.search__left {
		margin-right: 0;
	}
	.search-block__btn {
		padding: 12px 20px;
	}
	.search-block__item {
		min-height: unset;
	}
	.search__right {
		width: 55%;
	}
	.options {
		grid-template-columns: repeat(3, 1fr);
	}
	.tutor_left {
		flex-basis: 50%;
	}
	.tutor_row {
		padding: 0 20px;
		column-gap: 30px;
	}
	.tutor_name {
		line-height: 1.2;
	}
	.tutor_occupation {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	.tutor_row {
		flex-wrap: wrap;
		row-gap: 20px;
	}
	.tutor_left, .tutor_right {
		flex-basis: 65%;
	}
	.tutor_image {
		max-height: 100%;
	}
}

@media (max-width: 576px) {
	.container {
		padding: 0 25px;
	}
	.autoComplete_wrapper>input, .custom-select-opener, .custom-select-option, .autoComplete_wrapper > ul > li {
		font-size: 14px;
	}
	.search-block__btn {
		display: none;
	}
	.search__right {
		display: none;
	}
	.search-block__btn--mobile {
		display: inline-block;
	}
	.options {
		display: none;
	}
	.sort-flex {
		display: flex;
	}
	.tutor_left {
		flex-basis: 100%;
	}
	.tutor_right {
		display: none;
	}
	.s-search {
		padding-top: 135px;
	}
}

@media (max-width: 390px) {
	.tutor_left {
	    flex-basis: 100%;
	    font-size: 14px;
	}
	.tutor_name {
		font-size: 16px;
	}
	.students_text {
		font-size: 14px;
	}
	.btn-primary {
		padding: 10px 35px;
		font-size: 14px;
	}
	.text-sm_bold {
		font-size: 14px;
	}
	.autoComplete_wrapper>input, .custom-select-opener, .custom-select-option, .autoComplete_wrapper > ul > li {
		font-size: 12px;
	}
}