@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@import "header.css";
@import "reset.css";
@import "footer.css";

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #393939;
  font-weight: 400;
  background-color: #fff;
}
.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 175px;
}
.block_left {
  width: 57%;
  display: flex;
  flex-direction: column;
}
.block {
  border-radius: 25px;
  box-shadow: 0px -1.2px 15px rgba(0, 0, 0, 0.09), 
  0px -0.608097px 7.73152px rgba(0, 0, 0, 0.07), 
  0px -0.240442px 3.05705px rgba(0, 0, 0, 0.05);
  padding: 21px 34px;
  padding-bottom: 40px;
  margin-bottom: 44px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 13px 29px 25px 12px;
}
.info__picture {
  width: 47%;
  border-radius: 20px;
  overflow: hidden;
}
.info__col {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.info__col::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 7px;
}
.info__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-top: 6px;
}
.tutor__name {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-top: 6px;
  transition: all 0.15s ease-in-out;
}
.tutor__name:hover {
  transform: scale(1.04);
}
.span-text {
  font-weight: 400;
  font-size: 14px;
  color: #979797;
  margin-top: 3px;
}
.status {
  display: flex;
  align-items: center;
  color: #979797;
}
.status__icon {
  font-size: 28px;
  margin-right: 5px;
}
.info__rate {
  display: flex;
  margin-top: 14px;
}
.star-row {
  color: #FAAD13;
  font-size: 20px;
  margin-right: 10px;
}
.text-bold {
  font-weight: 600;
  font-size: 16px;
  color: #000;
  line-height: 1.7;
  margin-top: 7px;
}
.text-accent {
  color: #FB9C46;
}
.row_bottom {
  justify-content: start;
  padding-left: 20px;
}
.tutor_lessons {
  display: flex;
  align-items: center;
  color: #000;
  margin-right: 20px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}
.tutor_lessons__icon {
  font-size: 22px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.tutor_lessons__link {
  font-size: 16px;
  font-weight: 600;
}
.tutor_lessons:hover {
  transform: scale(1.05);
/*  color: #FB9C46;*/
}
.students {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-grow: 1;
  color: #FB9C46;
  font-size: 16px;
  font-weight: 600; 
  transition: all 0.3s ease-in-out;
}
.students__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.students__text {
  position: relative;
}
.students__text::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 1px;
  width: 100%;
  opacity: 0;
  background-color: #FB9C46;
  transition: opacity 0.2s ease-in-out;
}
.students:hover .students__text::after {
  opacity: 1;
}
.bottom-icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.bottom__link {
  font-size: 24px;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}
.bottom__link:hover {
  color: #db5c6d;
  transform: scale(1.1);
}
.block_right {
  width: 36%;
  padding: 26px 22px 29px 23px;
  display: flex; 
  flex-direction: column;
  float: right;
  height: 632px;
}
.tutor__intro {
  position: relative;
  max-height: 257px;
  margin: 0 auto;
  margin-bottom: 35px;
  border-radius: 10px;
  overflow: hidden;
}
.tutor__video {
  position: relative;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.tutor__video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
.play-icon {
  position: absolute;
  z-index: 15;
  top: 38%;
  left: 46%;
  width: 51px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.tutor__video:hover::after {
  background-color: rgba(0, 0, 0, 0.1);
}
.tutor__video:hover {
  transform: scale(1.05);
}
.play-icon:hover {
  transform: scale(1.1);
}
.tutor__trial {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 7px;
  column-gap: 15px;
}
.tutor__trial :last-of-type {
  text-align: right;
}
.tutor__trial :nth-child(2n) {
  order: 1;
}

.block_send {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 20px;
  padding: 0 40px;
}
.send__item {
  width: 100%;
  border: 1px solid #058E6E;
  border-radius: 7px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #058E6E;
  transition: all 0.15s ease-in;
}
.send__item:hover {
  background-color: #058E6E;
  color: #fff;
  opacity: 0.9;
}

.send__item iconify-icon {
  font-size: 19px;
  margin-right: 10px;
}
.send__text {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 600;
}

.tutor-nav {
  display: flex;
  margin: 37px;
  margin-bottom: 48px;
}
.tutor-nav__link {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  margin-right: 47px;
  color: #393939;
  transition: color 0.2s ease-in-out;
}
.tutor-nav__link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  transform: translateX(-50%);
  left: 50%;
  width: 80%;
  height: 3px;
  background-color: #FF922F;
  border-radius: 50px;
  opacity: 0;
}
.tutor-nav__link:hover {
  color: #FF922F;
}
.tutor-nav__link:hover::after, .tutor-nav__link:focus::after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.about {
  padding-top: 28px;
  padding-bottom: 40px;
}
.about p {
  font-size: 14px;
  color: #979797;
  line-height: 1.9;
  margin-top: 5px;
}
.about__link {
  transition: all 0.25s ease-in-out;
}
.about__link:hover {
  color: #058E6E;
}

.schedule {
  min-height: 632px;
}
.schedule h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 13px;
}
.schedule__date {
  display: flex;
  align-items: center;
  column-gap: 11px;
  padding: 29px 0 27px;
}
.schedule__switch-before, .schedule__switch-next {
  padding: 13px 17px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
  cursor: pointer;
  transition:box-shadow 0.15s ease-in-out;
}
.schedule__switch-next {
  background-color: #fff;
}
.schedule__switch-before:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
.schedule__switch-next:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
.schedule__week {
  font-size: 18px;
  line-height: 170%;
  color: #393939;
  flex-grow: 2;
  margin-left: 11px;
}
.schedule__timezone {
  background-color: transparent;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}
.schedule__timezone .custom-select-opener {
  background-color: transparent;
  font-size: 18px;
  position: relative;
  padding-right: 35px;
}
.schedule__timezone .custom-select-opener::after {
  content: url(../img/Arrow-timezone.svg);
  position: absolute;
  right: 7px;
  top: 10px;
}
.schedule__table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.schedule__table::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17%;
  background-color: #fff;
  opacity: 0.9;
  filter: blur(6px);
}
.schedule__day {
  text-align: center;
  width: 13.5%;
}

.day__heading:hover {
  cursor: pointer;
}
.day__element {
  width: 100%;
  height: 3px;
  background-color: #C4C4C4;
  margin-bottom: 14px;
}
.day__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #393939;
  margin-bottom: 5px;
}
.day__number {
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  background: #C4C4C4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.day__list {
  margin-top: 1.2em;
  margin-bottom: 2em;
  list-style: none;
}
.day__time {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.day__heading_active .day__element, .day__heading_active .day__number {
  background-color: #FB9C46;
}
.day__heading_active .day__name {
  color: #FB9C46;
}


.review__flex {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}
.review__grade {
  max-width: 200px;
  text-align: center;
  padding: 26px 16px;
  padding-top: 36px;
  position: relative;
}
.review__grade::after {
  content: '';
  position: absolute;
  top: 5%;
  right: 0;
  height: 90%;
  width: 1px;
  background-color: #ccc;
}
.review__grade span {
  display: inline-block;
  font-size: 64px;
  font-weight: 600;
}
.scales {
  flex-grow: 1;
  flex-basis: auto;
  min-width: 240px;
  padding: 0 13px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}
.scales__line {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 13px;
}
.review__text {
  font-size: 14px;
  color: #393939;
  flex-shrink: 0;
}
.progress {
  width: 70%;
  height: 6px;
  background: #C4C4C4;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 14px;
}
.progress.active {
  background-color: #FF922F;
}
.review__bottom {
  padding-top: 39px;
  padding-bottom: 9px;
}

.user {
  display: flex;
}
.user__pic {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.user__content {
  display: flex;
  flex-direction: column;
}
.user__name {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FB9C46;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.user__text {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #393939;
  max-width: 489px;
}
.posted {
  color: #979797;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  margin-top: 17px;
  margin-bottom: 20px;
}
.block-btn {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 30px;
  background-color: #FB9C46;
  color: #fff;
  border-radius: 5px;
  line-height: 1.7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.block-btn::after {
  content: url(../img/arrow-btn.svg);
  margin-left: 15px;
}
.block-btn:hover {
  transform: translateY(-2px) scale(1.04);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}
.block-btn:active{
  transform: scale(1.01);
}

.resume__heading {
  padding-bottom: 13px;
  border-bottom: 1px solid #ccc;
}
.resume__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
  width: 100%;
  column-gap: 23px;
}
.resume__column {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.column__title {
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #393939;
  margin-bottom: 33px;
}

.text-medium {
  font-size: 16px;
  color: #393939;
  font-weight: 400;
}
.resume__column p {
  font-size: 16px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 15px;
}
.specific__item {
  width: 18%;
  margin-right: 10px;
}
.specific__item:last-child {
  margin-left: auto;
}
.resume--mobile {
  display: none;
}
