* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

button, input {
	outline: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
}

img {
	display: block;
	max-width: 100%;
}