@import "fonts/Gilroy/stylesheet.css";
@import "header.css";
@import "footer.css";

html{
	scroll-behavior: smooth;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
}
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
button {
	background-color: transparent;
	border: none;
	outline: none;
}

body {
	font-family: 'Gilroy', sans-serif;
	color: #000;
	background-color: #fff;
}

section {
	padding: 100px 0;
}

.container {
	margin: 0 auto;
	max-width: 1230px;
	padding: 0 30px;
}

.accent {
	color: #F25822;
}
.btn {
	padding: 15px 35px;
	font-size: 14px;
	text-align: center;
	background-color: #F25822;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s ease-in;
}
.btn:hover {
	transform: scale(1.03);
}
.bg-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.s-intro {
	padding: 0;
}
.s-intro__flex {
	padding-top: 143px;
	padding-bottom: 103px;
	display: flex;
	justify-content: center;
	column-gap: 39px;
}
.s-column {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}
.h1 {
	font-size: 60px;
	font-weight: bold;
	line-height: 70px;
	margin-bottom: 17px;
}
.h1__text {
	display: inline-block;
	position: relative;
}
.h1__text::after {
	content: "";
	position: absolute;
	top: 5%;
	left: -5%;
	width: 110%;
	height: 110%;
	border: 1px solid #F25822;
	border-radius: 200%;
}
.s-intro__subtitle {
	font-size: 20px;
	font-weight: 500;
	line-height: 23px;
	color: #888888;
	margin-bottom: 37px;
}
.btn--main {
	padding: 12px 27px;
	font-size: 12px;
	border-radius: 30px;
}
.s-intro__btns {
	display: flex;
	align-items: center;
}
.intro--btn {
	font-size: 15px;
	font-weight: 700;
	box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
	max-width: 140px;
}
.s-intro__watch {
	display: flex;
	align-items: center;
	margin-left: 27px;
}
.s-intro__watch img {
	margin-right: 15px;
	transition: transform 0.2s ease-in-out;
}
.watch--btn {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #AAAAAA;
	transition: transform 0.2s ease-in-out;
}
.watch--btn:hover {
	transform: scale(1.05);
}
.s-intro__watch img:hover {
	transform: scale(1.1);
}

#logos {
	padding-top: 97px;
	padding-bottom: 96px;
	display: flex;
	justify-content: space-between;
}

.logos__brand {
	margin-right: 10px;
}

.logos__brand:last-of-type {
	margin-right: 0px;
}

.s-solution {
	position: relative;
	z-index: 0 !important;
	background: url('../img/Vector.svg') center no-repeat, #FAFAFA;
	padding: 0;
	margin-bottom: 55px;
}

.s-solution__flex {
	padding-top: 66px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 80px;
}
.h2 {
	font-size: 45px;
	font-weight: 700;
	line-height: 1.5;
}
.s-solution__title {
	max-width: 409px;
	line-height: 1;
}
.s-text {
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	color: #666666;
	margin-bottom: 35px;
	margin-top: 19px;
}
.second--btn {
	padding: 16px 31px 15px 31px;
}
.s-picture {
	width: 50%;
	max-width: 540px;
}

.options__body {
	display: flex;
}
.options__card {
	display: flex;
	flex-direction: column;
	width: 32%;
	padding: 30px;
	padding-top: 40px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.options__card:last-of-type {
	margin-right: 0;
}
.options__icon {
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin-bottom: 25px;
}
.options__title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	margin-bottom: 17px;
}
.options__text {
	font-size: 15px;
	line-height: 150%;
	color: #666666;
}
.options__link {
	width: 70px;
	font-size: 11px;
	line-height: 150%;
	margin-top: 25px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}
.options__link:hover {
	color: #F25822;
	transform: scale(1.02);
}
.options__card_central {
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.s-why {
	padding-top: 92px;
	background-color: #FAFAFA;
	text-align: center;
}
.s-why__subtitle {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 55px;
	width: 60%;
}
.s-why__row {
	display: flex;
	justify-content: center;
	column-gap: 30px;
}
.s-why__card {
	position: relative;
	background-color: #fff;
	width: 30.8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.h4 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	margin-top: 25px;
}
.card__text {
	margin-top: 22px;
	margin-bottom: 39px;
	font-size: 15px;
	line-height: 150%;
	text-align: center;
	color: #AAAAAA;
	padding-left: 30px;
	padding-right: 30px;
}
.s-why__btn {
	padding: 15px 36px 15px 46px;
	max-width: 150px;
	margin-bottom: 50px;
}
.s-why__btn span {
	display: block;
	position: relative;
	font-size: 13px;
}
.s-why__btn span::after {
	content: url(../img/s-card/arrow.svg);
	position: absolute;
	left: 110%;
	line-height: 1.4;
}
.s-why__card_central {
	box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}


.question__flex {
	display: flex;
	justify-content: center;
	column-gap: 30px;
}

.question__pic {
	margin-left: -245px;
	margin-top: -100px;
	overflow: hidden;
}	

.question__column {
	width: 50%;
	margin-right: -110px;
}

.question__title {
	line-height: 1.2;
}

.question__list {
	list-style: none;
	margin-top: 30px;
}
.list__item {
	display: flex;
	width: 100%;
	align-items: center;
	margin-bottom: 30px;
	padding: 17px 49px 17px 30px;
	background-color: transparent;
	transition: all 0.25s ease-in-out;
}
.list__item:hover {
	background-color: #fff;
	box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}
.list__icon {
	width: 100px;
	height: 100px;
	margin-right: 29px;
}

.list__content {
	display: flex;
	flex-direction: column;
}
.h5 {
	font-size: 20px;
	line-height: 150%;
	font-weight: 700;
	margin-bottom: 8px;
}

.numbers {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 90px;
	padding: 43px 66px 42px;
	border: 1px solid #eeeeee;
}
.numbers__element {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	color: #666666;
}

.text-xs {
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
}

.numbers__dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.dot--orange {
	background-color: #F3602D;
}
.dot--yellow {
	background-color: #FFC700;
}
.dot--green {
	background-color: #149211;
	margin-left: 15px;
}
.website {
	padding: 0;
}

.website__flex {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 30px;
}
.website__img {
	margin-top: -58px;
	margin-right: -154px;
	width: 60%;
}
.website__flex p {
	max-width: 458px;
	margin-top: 0;
}
.website__form {
	display: flex;
	column-gap: 29px;
	align-items: center;
	margin-top: 20px;
}
.form-group {
	position: relative;
	width: 70%;
	height: 50px;
	max-width: 400px;
	display: flex;
	background-color: #eee;
	border-radius: 50px;
}
.address, .email_a {
	font-size: 11px;
	line-height: 150%;
	color: #666666;
	font-weight: 500;
	margin: 0 20px;
	width: 50%;
	background-color: transparent;
	border: none;
	outline: none;
}
.form-group::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 1.5px;
	background-color: #ccc;
}
.form__button {
	font-size: 13px;
	padding: 15px 48px;
	font-weight: 700;
}

.s-plans {
	padding-top: 87px;
	padding-bottom: 130px;
	background-color: #FAFAFA;
	text-align: center;
}

.s-plans__subtitle {
	margin-top: 3px;
}
.s-plans__row {
	display: flex;
	justify-content: center;
	column-gap: 30px;
	margin-top: 86px;
}
.s-plans__card {
	padding-top: 63px;
	padding-bottom: 70px;
	background-color: #fff;
	width: 30.8%;
	display: flex;
	flex-direction: column;
	text-align: center;
	transition: all 0.25s ease-in-out;
}

.s-plans__card:hover {
	transform: scale(1.07);
	box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
}

.plan-name {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	margin-bottom: 6px;
	transition: color 0.25s ease-in-out;
}

.plan-price {
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;
}

.plan-price span {
	display: inline-block;
	position: relative;
	font-size: 70px;
	line-height: 1.5;
}

.plan-price span::before {
	content: "$";
	position: absolute;
	top: 22%;
	left: -15px;
	font-size: 18px;
}

.plan-spec {
	font-size: 16px;
	line-height: 2.5;
	color: #666666;
}

.s-plans__btn {
	padding: 9px 64px;
	font-size: 13px;
	line-height: 2.5;
	font-weight: 700;
	display: flex;
	margin: 0 auto;
	margin-top: 36px;
	background: rgba(242, 88, 34, 0.25);
	border-radius: 50px;
	color: #F3602D;
}

.s-plans__card:hover .plan-name {
	color: #F25822;
}

.s-plans__card:hover .s-plans__btn {
	background-color: #F25822;
	color: #fff;
}

.s-experts {
	padding-top: 86px;
	text-align: center;
}
.s-experts__subtitle {
	margin-top: 12px;
	margin-bottom: 52px;
	font-weight: 500;
	max-width: 461px;
	margin-left: auto;
	margin-right: auto;
}
.s-experts__row {
	display: flex;
	column-gap: 30px;
}
.expert {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 1px solid #eee;
	box-shadow: none;
	transition: box-shadow 0.25s ease-in-out;
}
.expert__photo {
	margin-bottom: 14px;
	width: 130px;
}
.expert__name {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 600;
	transition: color 0.25s ease-in-out;
}
.expert__job {
	font-size: 13px;
	line-height: 1.5;
	color: #888;
	margin-bottom: 17px;
}
.expert__links {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 15px;
}
.expert__link {
	transition: all 0.15s ease-in-out;
}
.expert__link:hover {
	transform: scale(1.05);
}
.expert:hover {
	border: none;
	box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
}
.expert:hover .expert__name {
	color: #F25822;
}
.link--accent {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F25822;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.s-clients {
	padding-top: 93px;
	text-align: center;
}
.s-clients__subtitle {
	margin-left: auto;
	margin-right: auto;
	max-width: 459px;
	margin-bottom: 55px;
}

.s-clients__row {
	display: flex;
	position: relative;
	max-width: 2300px;
	margin-left: auto;
	margin-right: auto;
}
.s-clients__row::before {
	content: "";
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 19%;
	filter: blur(25px);
	background-color: #fff;
	opacity: 0.4;
}
.s-clients__row::after {
	content: "";
	z-index: 20;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 19%;
	filter: blur(25px);
	background-color: #fff;
	opacity: 0.4;
}
.s-clients__row .owl-stage {
	margin-left: -230px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    width: 8px;
    height: 8px;
    background-color: #ddd !important;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}
.owl-carousel .owl-dot.active {
	background-color: #F25822 !important;
}
.client__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../img/icons/quote.svg);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	border: 2px solid #eee;
	background-color: #fff;
	padding-top: 25px;
	text-align: center;
	line-height: 1.5;
	padding-bottom: 10px;
	max-width: 570px;
	margin-right: 30px;
	margin-bottom: 15px;
	transition: all 0.25s ease-in-out;
}

.client__text {
	color: #888;
	font-weight: 500;
	padding-left: 30px;
	padding-right: 30px;
}

.client__image {
	margin-top: 29px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.semi-bold {
	font-size: 13px;
	font-weight: 600;
}



.s-news {
	padding-top: 86px;
	text-align: center;
}
.s-news__subtitle {
	margin-left: auto;
	margin-right: auto;
	max-width: 459px;
	margin-bottom: 55px;
}

.s-news__row {
	display: flex;
	position: relative;
}
.s-news__row::before {
	content: "";
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 30%;
	filter: blur(30px);
	background-color: #fff;
	opacity: 0.4;
}
.s-news__row::after {
	content: "";
	z-index: 20;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 30%;
	filter: blur(30px);
	background-color: #fff;
	opacity: 0.4;
}
.s-news__row .owl-stage {
	margin-left: -230px;
}

.news__card {
	text-align: left;
	display: flex;
	line-height: 1.5;
	border: 2px solid #eee;
	background-color: #fff;
	max-width: 770px;
	min-height: 330px;
	margin-right: 30px;
	margin-bottom: 15px;
}

.news__image {
	flex-shrink: 0;
	width: 48%;
	position: relative;
}
.news__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.news__text {
	display: flex;
	flex-direction: column;
	color: #666;
	font-weight: 500;
	padding-left: 30px;
	padding-right: 30px;
}

.news__title {
	font-size: 24px;
	margin-top: 46px;
	margin-bottom: 20px;
	color: #000;
	font-weight: 700;
}

.news__tag {
	display: flex;
	column-gap: 35px;
}
.dnone {
	
}

.news__group {
	display: flex;
	align-items: center;
	font-size: 11px;
	font-weight: 500;
}

.news__icon {
	max-width: 14px;
	margin-right: 6px;
}

.news__info {
	font-size: 15px;
	font-weight: 500;
	margin-top: 22px;
	margin-bottom: 26px;
}

.news__link {
	font-size: 11px;
	color: #F25822;
	font-weight: 700;
	margin-bottom: 45px;
	margin-right: auto;
}

.s-news__row .owl-stage {
		margin-left: 50px;
	}